:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #34495e;
}

.card {
  background-color: white;
  padding: 30px 40px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 450px;
  text-align: center;
}

.card-header h2 {
  margin: 10px 0 5px 0;
  color: #333;
  font-size: 24px;
  padding-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
  text-align: left;
}

.form-group label {
  display: block;
  margin-bottom: 8px;
  font-weight: 600;
  color: #555;
}

.form-group input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-sizing: border-box; /* Garante que o padding não aumente a largura */
}

button {
  width: 100%;
  padding: 14px;
  border: none;
  border-radius: 6px;
  background-color: #3498db;
  color: white;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #2980b9;
}

button:disabled {
  background-color: #bdc3c7;
  cursor: not-allowed;
}

.error-message, .firebase-error {
  color: #e74c3c;
  font-size: 12px;
  margin-top: 5px;
  display: block;
}

.firebase-error {
  background-color: #fdd;
  border: 1px solid #e74c3c;
  padding: 10px;
  border-radius: 6px;
  margin-bottom: 20px;
  font-size: 14px;
}